{% extends "main/base.html" %}

{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}
<div id="map-canvas"></div>
<div class="about container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">
    
      <h2>Location</h2>
      
      <h3>Jumeira Beach Park</h3> 
      <h4>Dubai</h4>
      <h5>United Arab Emirates</h5>
      
          

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>

{% endblock %}