{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet" media="screen">
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% block title %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'main.views.home' %}">Pretentious Theatre Name Here</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="{% url 'main.views.home' %}">Home<span class="sr-only"></span></a></li>
          <li class="active"><a href="{% url 'main.views.about' %}">About<span class="sr-only"></span></a></li>
          <li class="active"><a href="{% url 'main.views.performances' %}">Performances<span class="sr-only"></span></a></li>
          <li class="active"><a href="{% url 'main.views.merch' %}">Merchandise<span class="sr-only"></span></a></li>
          <li class="active"><a href="{% url 'main.views.sales' %}">Sales<span class="sr-only"></span></a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Social Media<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><a href="http://facebook.com"><i class="fa fa-facebook fa-lg">&nbsp;&nbsp;&nbsp;Facebook</i></a></li>
          <li><a href="http://twitter.com"><i class="fa fa-twitter fa-lg">&nbsp;Twitter</i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram fa-lg">&nbsp;&nbsp;Instagram</i></a></li>
          <li><a href="http://youtube.com"><i class="fa fa-youtube fa-lg">&nbsp;&nbsp;YouTube</i></a></li>
          <li><a href="http://soundcloud.com"><i class="fa fa-soundcloud fa-lg">Soundcloud</i></a></li>
          <li><a href=""><i class="fa fa-github fa-lg">Github</i></a></li>
        </ul>
		</li>		
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="main" style="padding-top: 65px">
    <div class="container">
    <a href="{% url 'main.views.about' %}">Pretentious Theatre Name Here</a>
      {% block content %}
      {% endblock %}
    </div>
<footer>
    <div id="social">
    <div class="container">
      <div class="row centered">
        
        <div class="col-lg-3">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
       
        <div class="col-lg-3">
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </div>
      
      </div><! --/row -->
    </div><! --/container -->
  
</footer>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
