{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}
<title>the theatre</title>

{% endblock title %}

{% block content %}
<h1 class="otherpageheader">For Sale</h1><br/>
<div class="row">
    {% for p in Merchandise %}
        <a href="/merch_{{ p.id }}">
            <div class="col-md-3 column productbox">
                <img src={% static p.image %} alt="test" class="img-responsive">
                <div class="producttitle">
                    {{ p.name }}
                </div>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="/merch_{{ p.id }}" class="btn btn-danger btn-sm" role="button">BUY</a>
                    </div>
                    <div class="pricetext">
                        ${{ p.price }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}