{% extends "main/base.html" %}

{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}
<div class="row">
<div class="col-md-3 column productbox">
    <img src="http://www.lascalaoptics.com/12-28-thickbox/iolanta-green-gold-lorgnette-opera-glasses.jpg" class="img-responsive">
    <div class="producttitle">Opera Glasses</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://ecx.images-amazon.com/images/I/512KB66V9DL._UX385_.jpg" class="img-responsive">
    <div class="producttitle">Sophisticated Hat</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://d436bf61292a5a72eb74-0b84e0b94db0dd2da26f73dca6f0cfa3.r35.cf3.rackcdn.com/catalog/product/cache/1/image/1000x/9df78eab33525d08d6e5fb8d27136e95/0/1/01_LSmadridchampb_Main.jpg" class="img-responsive">
    <div class="producttitle">Snobby Champagne </div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://image.rakuten.co.jp/kk-ghk/cabinet/menskomono2/men1.jpg" class="img-responsive">
    <div class="producttitle">Elegant White Gloves</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
</div>
{% endblock %}