{% extends "main/base.html" %}

{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}
<div class="row">
<div class="col-md-3 column productbox">
    <img src="http://dummyimage.com/500/000/fff" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://dummyimage.com/500/000/fff" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://dummyimage.com/500/000/fff" class="img-responsive">
    <div class="producttitle">Product 3</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-3 column productbox">
    <img src="http://dummyimage.com/500/000/fff" class="img-responsive">
    <div class="producttitle">Product 4</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
</div>
{% endblock %}