
{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}

<h1 class="otherpageheader">Performances</h1>
<div class="panel panel-default">
	<div class="panel-content panelstyle" >
		<h3>The Abraham Lincoln Experience</h3>
		<br/>
		<img src="http://cdn.history.com/sites/2/2013/11/abraham-lincoln-assassination-AB.jpeg"/>
		<br/>
		<p>Showing: March 3-5 at 8:00PM</p>
		<br/>
		<p>A tal that puts you in the shoes of a man with a wicked a beard and box seats</p>
	</div>
</div> 
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>Saw: The Musical</h3>
		<br/>
		<img style="max-height:600px; max-width:350px" src="https://halloweenmeca.files.wordpress.com/2012/10/jigsaw.jpg"/>
		<br/>
		<p>Showing: May 18-21 at 8:00PM<p/>
		<br/>
		<p>In this humerus twist on a classic story, you follow a group of individuals through the worst night on of their lives, as each one discover who they truly are. Screaming has never sounded this musical! </p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>If you Give a Moose a Muffin</h3>
		<br/>
		<img style="max-height: 600px; max-width:350px"src="http://image.slidesharecdn.com/moose-1224869052473168-8/95/if-you-give-a-moose-a-muffin-1-728.jpg?cb=1224864302"/>
		<br/>
		<p>Showing: December 12-15 at 8:00PM</p>
		<br/>
		<p>Find out what happens when you do give a moose a muffin, and what consequences will follow</p>
	</div>
</div>


<h1>Content Goes Here for Performances</h1>
	{% for p in Performance%}
		event: {{ Performance.event }} <br>
		place: {{ Performance.place }} <br>
		location: {{ Performance.event }} <br>
		date: {{ Performance.location }} <br>
		image: {{ Performance.image }} <br><br>
	{% endfor %}
{% endblock %}