
{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}

<h1 class="otherpageheader">Performances</h1>
<div class="panel panel-default">
	<div class="panel-content panelstyle" >
		<h3>The Abraham Lincoln Experience</h3>
		<p>description</p>
	</div>
</div> 
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>Saw: The Musical</h3>
		<p>description</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>If you Give a Moose a Muffin</h3>
		<p>description</p>
	</div>
</div>


<h1>Content Goes Here for Performances</h1>
	{% for p in Performance%}
		event: {{ p.event }} <br>
		place: {{ p.place }} <br>
		location: {{ p.event }} <br>
		date: {{ p.location }} <br>
		image: {{ p.image }} <br><br>
	{% endfor %}
{% endblock %}