
{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}
<title>the theatre</title>
{% endblock title %}

{% block content %}

<h1 class="otherpageheader">Performances</h1>
<div class="panel panel-default">
	<div class="panel-content panelstyle" >
		<h3>The Abraham Lincoln Experience</h3>
		<br/>
		<img src="http://dummyimage.com/350x200/000/fff"/>
		<br/>
		<p>Showing: March 3-5 at 8:00PM</p>
		<br/>
		<p>A tail that puts you in the shoes of a man with a wicked a beard and box seats</p>
	</div>
</div> 
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>Saw: The Musical</h3>
		<br/>
		<img src="http://dummyimage.com/350x200/000/fff"/>
		<br/>
		<p>Showing: May 18-21 at 8:00PM<p/>
		<br/>
		<p>In this humerus twist on a classic story, you follow a group of individuals through the worst night on of their lives, as each one discover who they truly are. Screaming has never sounded this musical! </p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-content panelstyle">	
		<h3>If you Give a Moose a Muffin</h3>
		<br/>
		<img src="http://dummyimage.com/350x200/000/fff"/>
		<br/>
		<p>Showing: December 12-15 at 8:00PM</p>
		<br/>
		<p>Find out what happens when you do give a moose a muffin, and what consequences will follow</p>
	</div>
</div>


<h1>Content Goes Here for Performances</h1>
	{% for p in Performance%}
		event: {{ Performance.event }} <br>
		place: {{ Performance.place }} <br>
		location: {{ Performance.event }} <br>
		date: {{ Performance.location }} <br>
		image: {{ Performance.image }} <br><br>
	{% endfor %}
{% endblock %}